#homewithoutuser {
	#head {
		padding: 10px;
		padding-bottom: 0;

		#logo {
			display: inline;
			margin-bottom: 20px;
		}

		a {
			text-decoration: none;
		}

		#title {
			color: black;
			font-family: 'Lobster', cursive;
			font-weight: 400;
			display: inline;
			font-size: 36px;
		}

		#login {
			font-family: 'Lora';
			font-weight: 700;
			float: right;
			margin-top: 12px;
			padding:6px 20px;
		}
	}

	#signup {
		height: 350px;
		background-color: #E8E8E8;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		#box {
			box-shadow: 10px 10px 5px #888888;
			margin: auto;
			height: 100%;
			width: 350px;
			background-color: white;
			padding-top: 15px;
			padding-bottom: 20px;
			.title {
				text-align: center;
				font-family: 'Lora';
				font-weight: 700;
				font-size: 20px;
			}
			#google {
				border: 1px solid #D13644;
				text-decoration: none;
				color: white;
				box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
				text-align: center;
				font-size: 1em;
				border-radius: 4px;
				display: inline-block;
				.logo {
					background: url('/assets/images/google-signup.png') center center no-repeat;
					height: 38.38px;
					width: 42px;
					background-size: 30px 30px;
					position: relative;
					border-right: 1px solid #e5767b;
					float: left;
					background-color: #d3505a;
				}
				.text {
					text-shadow: 0 -1px 0 rgba(142,4,17,.5);
					font-family: 'Lora';
					font-weight: 700;
					background-color: #d3505a;
					line-height: 1.2;
					padding: .8em 1.625em;
					float: left;
				}
			}

			#email {
				margin-top: 20px;
				margin-bottom: 10px;
				display: block;
				color: black;
				border: 1px solid #d8d8d8;
				text-decoration: none;
				box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
				text-align: center;
				font-size: 1em;
				border-radius: 4px;
				display: inline-block;
				padding: .8em 1.625em;
				font-family: 'Lora';
				font-weight: 700;
				width: 225.17px;
				background-image: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
			}

		}
	}
}

#homewithuser {
	background-color: #C0C0C0;
	hr {
		margin-bottom: 10px;
		margin-top: 10px;
		color: white;
	}
	#welcome {
		box-shadow: 10px 10px 5px #888888;
		border-top: none;
		height: 200px;
		margin-top: 20px;
		padding: 20px;
		background-color: #686868;
		color: white;
		text-align: center;
		#title {
			font-family: 'Lobster', cursive;
			font-weight: 400;
			font-size: 25px;
		}
		p {
			font-family: 'Lora';
			font-weight: 400;
			font-size: 20px;
		}
	}
	.grid {
		margin-left: 20px;
		margin-right: 20px;
	}
	.tile {
		border-radius: 2px;
		border: solid 2px white;
		a {
			text-decoration: none;
			color: white;
			h3 {
				font-family: 'Lora';
				font-weight: 400;
			}
			md-grid-tile-footer:hover {
				h3 {
					font-weight: 700;
				}
				background-color: black;
				transition: background-color 0.9s;
			}
		}
	}

	.list {
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.listbox {
		box-shadow: 10px 10px 5px #888888;
		background-color: #A0A0A0;
		md-list-item {
			margin-bottom: 10px;
		}
		md-list-item:hover {
			background-color: rgb(96,125,139);
		}
		md-list-item {
			transition: background-color 0.3s;
		}
		.md-list-item-text {
			h4 {
				color: white;
				font-family: 'Lora';
				font-weight: 700;
			}
			p {
				color: black;
			}
		}
	}
}
