
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools sidebar-title">Menu</h1>
    </md-toolbar>

    <md-content layout-padding>

        <ul class="sidebar-list">
            <a ui-sref="home"><li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</li></a>
            <a ui-sref="collections"><li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>My Collections</li></a>
            <a ui-sref="subscriptions"><li><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>My Subscriptions</li></a>
            <a ui-sref="folders"><li><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>My Folders</li></a>
        </ul>
        <md-divider></md-divider>

        <div class="sidebar-subtitle">
            <a ui-sref="subscriptions">SUBSCRIPTIONS<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            <a href="#" class="menu-up" id="subscriptions-icon"><span class="glyphicon glyphicon-menu-up"></span></a>
        </div>

        <ul class="sidebar-list sublist" id="subscriptions">
            <div class="category" ng-repeat="subscription in subscriptions">
                <a ui-sref="subscriptions.section({name: subscription.description})"><li>{{subscription.description}}</li></a>
                <span class="glyphicon glyphicon-remove-circle" ng-click="removeSubscription(subscription._id)"></span>
            </div>
        </ul>

        <md-divider></md-divider>

        <div class="sidebar-subtitle">
            <a ui-sref="folders">FOLDERS<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            <a href="#" class="menu-up" id="folders-icon"><span class="glyphicon glyphicon-menu-up"></span></a>
        </div>

        <ul class="sidebar-list sublist" id="folders">

            <div class="category" ng-repeat="folder in folders">
                <a ui-sref="folders.section({name: folder.description})"><li>{{folder.description}}</li></a>
                <span class="glyphicon glyphicon-remove-circle" ng-click="removeFolder(folder._id)"></span>
            </div>
            
        </ul>

        <md-divider></md-divider>

    </md-content>
</md-sidenav>
