<div class="container" id="subscriptions-container">

	<div ng-repeat="category in categories" ng-show="category.pages">
  
		<md-divider></md-divider>
		<div class="menu-up-container">
  		<a href="#" ng-click="menuUp(category.description)"><span id="{{category.description | lowercase}}-menu-up" class="subscriptions-menu-up glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
    </div>    

  	<div class="title">
  		<a href="#">{{category.description}}</a>
 		</div>

 		<div id="{{category.description | lowercase}}" class="row cards-container">
 			<div ng-repeat="page in category.pages" class="col-md-4">
 				<article-detail article="page"></article-detail>
 		 </div>							
 		</div>

	</div>

</div>