<md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full' : hover }" ng-mousenter="isOpen=true" ng-mouseleave="isOpen=false">
    <md-fab-trigger>
        <md-button class="md-fab md-mini md-warn">
            <md-icon md-svg-src="/icons/ic_menu_white_36px.svg"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <div ng-repeat="item in items">
            <md-button ng-click="openDialog($event, item)" class="md-fab md-mini  md-raised md-primary">
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
            </md-button>
            <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
              {{item.name}}
            </md-tooltip>
        </div>
    </md-fab-actions>
</md-fab-speed-dial>
