<ul>
	<!-- Refactor to return at head of API-->
	<h4>Comments for "{{comments.for}}"</h4>
	<li ng-repeat="comment in comments.comments">
		{{comment.text}}<br>
		<span ng-show="{{comments.type =='page'}}"><i>by <a ui-sref="userComments({id: comment.user._id})">{{comment.user.email}}</a></i></span>
		<span ng-show="{{comments.type =='user'}}"><i>on <a ui-sref="article({id: comment.page._id})">{{comment.page.title}}</a> </i></span> 
		on {{comment.dateStamp | date : 'short'}}
		({{comment.voteCount }} votes)
		<span ng-show="{{user._id == comment.user._id}}"> -  
			<a ng-click="editComment()">[Edit]</a> | 
			<a ng-click = "removeComment($index, comment._id)">[Delete]</a>
		</span>
	</li>
</ul>

<ul> <!-- Temporary -->
<form name="commentSubmissionForm" ng-show="{{comments.type =='page'}}">
	<md-input-container>
		<label>Enter a comment</label>
		<input name="comment" ng-model="input" md-minlength="10">
		<div ng-messages="commentSubmissionFrom.input.$error" ng-show="commentSubmissionForm.input.$dirty" md-minlength="10">
			<div ng-message="required">This is required!</div>
			<div ng-message="md-minlength">Comment must be at least 10 characters long.</div>
		</div>
	</md-input-container>

	<md-button aria-label="Submit comment button" ng-click="submitComment()" class="md-primary">Submit</md-button>
</form>
</ul> <!-- Temporary -->

