<div class="home" ng-if="!user">
    <div id="head">
        <a ui-sref="home">
            <img id="logo" src="/assets/images/news-icon.png" height=50 width=50>
            <div id="title">News-Net</div>
        </a>    
        <a id="login" ui-sref="login" class="btn btn-default">Log In</a>
    </div>
    <div>
        <img src="/assets/images/news.jpg" width=100%>
    </div>
    <div id="signup">
        <div id="box" class="container">
            <div class="title">Sign Up</div>
            <hr>
            <a id="google" href="/auth/google">
                <span class="logo"></span>
                <span class="text">Sign Up with Google</span>
            </a>
            <div><a id="email" href="/">Sign Up with email</a></div>
            <p>Already have an acount? <a ui-sref="login">Log in now</a></p>         
        </div>
    </div>
</div>

<div class="container home" ng-if="user">
    <h1>user {{user}}</h1>
</div>