* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.floatRight {
  float: right;
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:700italic,700,400italic,400);
@import url(https://fonts.googleapis.com/css?family=Lora:700italic,700,400italic,400|Roboto+Slab:400,300);